<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>每天收支详情</title>
	<meta name="keywords" content="每天收支详情">
	<meta name="description" content="每天收支详情">
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
	<link href='../../js/jquery-ui-1.12.1/jquery-ui.css' rel='stylesheet'>
	<link href="../../js/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
	<link rel="stylesheet" href="../../js/bootstrap-table/dist/bootstrap-table.css">
	<link href="../../css/fonts.css" rel="stylesheet">
	<link href="../../css/home.css" rel="stylesheet">

	<style>
		a,
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
			color: inherit;
		}
	</style>
</head>

<body>

	<!--页面主要内容-->
	<main class="ftdms-layout-content">
		<div class="container-fluid" style="margin-bottom:90px;">
			<div id="notices"></div>
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-12 fa-12x">
					<div class="card">
						<div class="card-header">
							<!-- 解决input month 兼容性问题 -->
							<button class="btn btn-info btn-xs" id="prev">上一月</button>&nbsp
							<input type="text" id="date"> &nbsp
							<button class="btn btn-info btn-xs" id="next">下一月</button>&nbsp
							<button class="btn btn-info btn-xs" id="prints">打印</button>&nbsp
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<!-- 显示当月的数据 -->
								<table id="dayTable"
									class="table table-hover table-bordered table-vcenter table-sm table-striped">
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-12 fa-12x">
					<div class="card card-bottom">
						<div class="card-header"></div>
						<div class="card-body" style="height:100%;width:100%;">
							<canvas class="js-chartjs-bar"></canvas>
						</div>
					</div>
				</div>								
			</div>
		</div>
	</main>
	<!--End 页面主要内容-->

	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- <script src="./bootstrap-datepicker/bootstrap-datepicker.js"></script> -->
	<!-- <script src="./bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js"></script> -->
	<script src="../../js/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<!-- Latest compiled and minified Locales -->
	<script src="../../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

	<script type="text/javascript" src="../../js/Chart.js"></script>
	<script type="text/javascript" src="../../js/app/common.js"></script>
	<script type="text/javascript" src="../../js/app/DayView.js"></script>
</body>

</html>